.template-indicator {
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: #666;
  border-radius: 3px;
  padding: 3px 8px;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    i {
      margin-right: 5px;
    }
  }
}
